.container{
    background-color: #555;
    width: 400px;

    /*ESTUDOS DE PEDDING*/

    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; */
    

    /* top, right, bottom, left*/
    padding: 50px, 50px,50px, 70px;
    border-inline-end-width: 900px;

    /*top e bottom - right e left*/


    /*TODOS*/

    /*ESTUDOS DE MARGIN*/
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 30px;

    /*TODOS*/
    /* top, right, bottom, left*/
    margin: 15px;

    /*BORDER*/
    border: 10px soli#999;
