body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color:white;
    font-size: 16px;
    background-color:black;
    padding-left: 0px;
}
main{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding-top: 30px;
    padding-left: 90px;
    margin: 0px;
    background-color: #D3D3D3;
    border-radius: 0px;
}

