*{
    padding: 0;
    margin: 0;
    font-family: 'MuseoModerno';
    text-decoration:none ;
    list-style: none;
    box-sizing: border-box;

}

:root{
    --text-color:#000000;
    --text-color2:#9C9A9A;
    --bg-color:#CCCCCC;
    --main-color:#427BED;
    --second-color:#FFFFFF;
    --other-color:#868686;
    --icon-color:#7f71eb;
    --big-font:5.5rem;
    --p-font:1rem;

}

body{
    background: var(--bg-color);
    color: var(--text-color);

}

header{

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 9%;

}

.logo{
display:flex;
align-items: center;
color: var(--text-color);
font-size: 40px;
font-weight: bold;

}

.logo i {
vertical-align: middle;
color: var(--main-color);
font-size: 35px;
margin-right: 5px;

}   

.navilist{
    display: flex;
    

}

.navilist a{
font-size: var(--p-font);
color: var(--text-color);
font-weight: 600;
margin: 0 35px;
transition: all ease .2s;

}

.navilist a:hover{
    color: var(--main-color);
}


.h-main{
    display: flex;
    align-self: center;
    font-size: 30px;
}

section{
    padding: 0 12%;
}

.content{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);                                                          
    align-items: center;
    gap: 1rem;  
}

.content-text h1{
    font-size: var(--big-font);
    line-height: 1.3 ;
    font-weight: 800;
}

.content-text h4{
    margin: 5px 0;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 22px;
    font-weight: 400;
}

.content-text p{
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 26px;
    max-width: 500px;
    margin-bottom: 4rem;
}

.content-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 30px;
}

.box{
    background-color: var(--second-color);
    padding: 25px 40px;
    border-radius: 1rem;
    box-shadow:  5px 5px 30px #3bff29;
    transition: all ease .55s;
}

.box img{

max-width: 100%;
height: auto;
}

.box:hover{
    transform: translateY(-5px) scale(1.1);
}

.logo-icon{
color: var(--second-color);
font-size: 700px;
border-radius: 1rem;
color: var(--icon-color);
    
    
}

body.color{
    --text-color:#FFFFFF;
    --bg-color:#08162A;
    --second-color:#2B3544;
    --icon-color:#1fe00d;
}

