body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        color: #ffffff;
        line-height:1.6;  
        background-color: blue;


    }
h1{

color: #ffbf00;
}
h2{

    color: #ffff00;
    }

    a{
        color: rgb(243, 227, 0);
    }
    
    


    