.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    /*justify-content: space-around;*/
    /*justify-content: space-between;*/
    justify-content: center;
    /* justify-content: start; */
    /* justify-content: end; */
    /* column-gap: 20px; */
    /* row-gap: 20px; */
    gap: 20px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item{
    background-color: aqua;
    border: 1px solid black;
    padding:20px;
    font-size: 30px;
    text-align: center;

}